:root {
    /* Global color scheme */
    --dark: #871387;
    --light: #ffffff;
    --lesslight: rgb(186, 184, 184);
}


* {
    /* debugging - can see the borders of existing containers and divs. */
    /* border: 1px solid var(--dark); */


    /* declare global font family */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: var(--light);
    overflow: hidden;
}

/* declaring font sizes, colors, and weights. */

h1,
h2 {
    color: var(--dark);
}

ol {
    color: var(--dark);
    font-size: larger;
    font-weight: 700;
}

p {
    color: var(--dark);
    font-size: 1.3em;
}

/* stylizing buttons */

button {
    outline: none;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    cursor: pointer;
}

/* Giving initial padding and height to outer div, making it a flexbox. */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Putting timer in top right corner */

.top-bar p {
    float: right;
    background-color: var(--light);
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--lesslight);
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.quiz-intro,
main {
    margin: 10vh 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.questions-screen {
    display: none;
    flex-direction: column;
}

#question-words {
    flex-direction: column;
}

.options {
    flex-direction: column;
}

.choice {
    flex-direction: column;
    border: 2px solid var(--dark);
    padding: 2%;
    margin: 2%;
}

.quiz-finish-screen {
    display: none;
    flex-direction: column;
}

.high-scores-screen {
    display: flex
}

.feedback {
    display: flex;
    flex-direction: column;
}

/* Hide class applied to hide quiz elements that aren't the landing page.*/

.hide {
    display: none;
}